@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    :root{
        --purple: #302C42;
        --por-purple : #8176AF;
        --kam-purple : #C0B7E8;
        /* all pages */
        overflow-x: hidden;
    }
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: vazir;
    }

    @font-face {
        font-family: vazir;
        src: url(../font/Vazir.ttf);
    }
    .center{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    /* class="text-[#8176AF]" */
    #sp{
        /* background-image: linear-gradient(to right,#8176AF,#C0B7E8) !important; */
        background-image: -webkit-linear-gradient(45deg,#8176AF,#C0B7E8) !important;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* filter: drop-shadow(5px 5px 5px red); */
    }

    #technology{
        background-image: url("../img/Mask\ group\(4\).png");
        background-repeat: no-repeat;
        background-position: center;
        background-size:cover;
        border-radius: 250px;
    }

    #sessions{
        background-image: url("../img/Vector\ 15.png");
        background-repeat: no-repeat;
        /* height: 400px; */
        /* border: 3px solid green; */
        /* background-position: center; */
    }
    .pr{
        background-image: linear-gradient(to right, #8176AF,#C0B7E8);
        background-position: center;
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        font-size: 70px;
        font-weight: bold;
        color: #302C42;
        border: 13px solid #8176AF;
    }
    a:hover{
        text-decoration: underline;
    }
    #contact-us:hover{
        border: 2px solid #C0B7E8 !important;
    }
    /* #join-us:hover{
        background-image: linear-gradient(to right, #8176AF,#C0B7E8) !important;
        border: none !important;
    } */


    .join:hover{
        background-image: linear-gradient(to right, #8176AF,#C0B7E8) !important;
    }

    #biuld:hover{
        text-decoration: underline;
        color: black;
         background-image: linear-gradient(to right, #8176AF,#C0B7E8) !important;
    }
     
    /* /////////////////// */
    #logos-container > img{
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    #logos-container > img:hover{
        scale: 1.1;
    }

    #logos-container:hover > img:not(:hover){
        filter: blur(0.5rem);  
    }

    /* ////////////////// */
    nav > a{
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    nav > a:hover{
        scale: 1.1;
    }

    nav:hover > a:not(:hover){
        filter: blur(0.5rem);  
    }
    /* //////////////// */
    #sec2 > a:hover{
        color: #C0B7E8;
    }
    #sec3 > a:hover{
        color: #C0B7E8;
    }

    .ico > img:hover {
        transform: translateY(-3px) !important;
        scale: 1.1;
    }



}